{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "requirePragma": false,
    "insertPragma": false,
    "endOfLine": "auto",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "strict",
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto"
}